{% set meta = orgaMeta.meta %}
{% set mail = meta.email|split('@') %}

<div class="contactbox">

    <a href="#arrival" onclick="hideMenu()">
       {% partial 'html_body/svg-icons/clock' %}
    </a>
  

    {% if meta.schema_phone %}
      <a href="tel:{{ meta.schema_phone }}" title="{{ meta.schema_phone }}">
        {% partial 'html_body/svg-icons/phone' %} 
      </a>
    {% endif %}

    {% if meta.email %}
      <script>
          user = '{{ mail[0] }}';
          site = '{{ mail[1] }}';
          document.write('<a href=\"mailto:' + user + '@' + site + '\">');
        </script>
        {% partial 'html_body/svg-icons/email' %} 
      </a>
    {% endif %}

      <a href="#faq" onclick="hideMenu()">
        {% partial 'html_body/svg-icons/question' %} 
      </a>

      <a href="#" onclick="toggleMode()" class="mode-toggle">
        {% partial 'html_body/svg-icons/lightdark' %} 
      </a>

</div>

{% put scripts %}
<script>

    const btn = document.querySelector(".mode-toggle"); 
    const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");
    const currentTheme = localStorage.getItem("theme");
  
    if (prefersDarkScheme.matches && (currentTheme == "dark")) {
      document.body.classList.add("dark");
      }
    else if (prefersDarkScheme.matches && (currentTheme == "light")) {
      document.body.classList.remove("dark");
      console.log('yepp');
      }
    else if (prefersDarkScheme.matches) {
      document.body.classList.add("dark");
    }
    else if ((prefersDarkScheme.matches == false) && (currentTheme == "dark")) {
      document.body.classList.add("dark");
    }
    else if ((prefersDarkScheme.matches == false) && (currentTheme == "light")) {}
    else if (prefersDarkScheme.matches == false) {}
    else {}

    function toggleMode(){
        if (document.body.classList.contains("dark")){
            document.body.classList.remove("dark");
            var theme = "light";
            localStorage.setItem("theme", theme);
          }
        else {
            document.body.classList.add("dark");
            var theme = "dark";
            localStorage.setItem("theme", theme);
          }
        }
</script>

{% endput %}