{% set meta = orgaMeta.meta %}
{% set mail = meta.email|split('@') %}

<div class="contactbox">

    <a href="#arrival" onclick="hideMenu()">
       {% partial 'html_body/svg-icons/clock' %}
    </a>
  

    {% if meta.schema_phone %}
      <a href="tel:{{ meta.schema_phone }}" title="{{ meta.schema_phone }}">
        {% partial 'html_body/svg-icons/phone' %} 
      </a>
    {% endif %}

    {% if meta.email %}
      <script>
          user = '{{ mail[0] }}';
          site = '{{ mail[1] }}';
          document.write('<a href=\"mailto:' + user + '@' + site + '\">');
        </script>
        {% partial 'html_body/svg-icons/email' %} 
      </a>
    {% endif %}

      <a href="#faq" onclick="hideMenu()">
        {% partial 'html_body/svg-icons/question' %} 
      </a>

      <a href="#" class="mode-toggle">
        {% partial 'html_body/svg-icons/lightdark' %} 
      </a>

</div>

{# https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/#combining #}

{% put scripts %}
  <script>

    const btn = document.querySelector(".mode-toggle");
    const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");
    const currentTheme = localStorage.getItem("theme");

    if (currentTheme == "dark") {
      document.body.classList.add("dark-mode");
    } 
    else if (currentTheme == "light") {
      document.body.classList.add("light-mode");
    }

    btn.addEventListener("click", function() {
      if (prefersDarkScheme.matches) {
        document.body.classList.remove('dark-mode');
        var theme = document.body.classList.contains("light-mode") ? "light" : "dark";
      } 
      else {
       document.body.classList.add("dark-mode");
       var theme = document.body.classList.contains("dark-mode") ? "dark" : "light";
      } 
      localStorage.setItem("theme", theme);
    });

  </script>
{% endput %}