<footer>
  <section class="faq">
    <div class="indent-me">

      <div></div>

      <details id="footer-1">
          <summary>
            Impressum
          </summary>
          <div>
              {% content 'impressum.htm' %}
          </div>
      </details>
      
      <details id="footer-2">
          <summary>
            Datenschutz
          </summary>
          <div>
            {% content 'datenschutz.htm' %}
          </div>
      </details>

      <div class="langselect">
        {{ 'forms.select.langselect'|_ }}: 
        {% for code, name in locales %} 
          {% if loop.last %}
          <a href="/{{ code }}" class="{{ code == activeLocale ? 'selected' }}">{{ name }}</a>
          {% else %}
          <a href="/{{ code }}" class="{{ code == activeLocale ? 'selected' }}">{{ name }}</a> | 
          {% endif %}
        {% endfor %} 
      </div>

      <div class="byline">
          <a href="https://digital4docs.ch" title="Praxis Websites für Ärzte" rel="noopener">Powered by Digital4Docs</a> &nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="/{{ activeLocale }}">&copy; 2022 - {{ "now"|date("Y") }} {{ orgaMeta.meta.schema_name }}</a> &nbsp;&nbsp;|&nbsp;&nbsp;
          Icons used with kind permission by <a href="https://www.unsplash.com" rel="noopener" title="Unsplash">Unsplash</a> and <a href="https://fontawesome.com/license" rel="noopener">Fontawesome</a>.
      </div>

    </div>
  </section>
</footer>



