[staticMenu mainMenu]
code = "main"
==
<header>
  <nav>
    <div id="logo">
      <a class="logo" href="/{{ localePicker.activeLocale }}" title="Home">
      {% partial 'html_body/svg-icons/logo-de' %} 
      </a>   
    </div>

    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
      <div class='menu-button'></div>
    </label>

    <ul class="menu">
    {% for item in mainMenu.menuItems %}
      <li>
        <a title="{{ item.title }}" 
           class="" 
           href="{{ item.url }}"
           onclick="hideMenu()">
           {{ item.title }}
        </a>
      </li>
    {% endfor %}
    </ul>

  </nav>
</header>



<!--

 {% partial 'html_body/languageswitcher'%}
 

-->

{% put scripts %}
  <script>
    function hideMenu() {
      const checkbox = document.getElementById('menu-toggle');
      checkbox.click();
    }
  </script>
{% endput %}
