[staticMenu mainMenu]
code = "main"
==
<header>
  <nav>
    <div id="logo">
      <a class="logo" href="#intro" title="Home">
      <img src="/themes/if-bt/assets/img/logo-mustermann.png" width="auto" height="90">
      {# partial 'html_body/svg-icons/logo-de' #} 
      </a>   
    </div>

    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
      <div class='menu-button'></div>
    </label>

    <ul class="menu">
    {% for item in mainMenu.menuItems %}
      <li>
        <a title="{{ item.title }}" 
           class="" 
           href="{{ item.url }}"
           onclick="hideMenu()">
           {{ item.title }}
        </a>
      </li>
    {% endfor %}
    </ul>

    {% partial 'html_body/contactbox.htm' %}

  </nav>
</header>

{% put scripts %}
  <script>
    function hideMenu() {
      let mq = window.matchMedia('(max-width: 767px)');
      const checkbox = document.getElementById('menu-toggle');

      if (mq.matches) {
       checkbox.click();
      }
      else {}
    }
  </script>
{% endput %}
