
 <main>

    <div class="indent-me">
        {% content 'intro.htm' %}
    </div>

    <div id="team" style="width: 100%">
        <section class="indent-me">
            {% content 'team.htm' %}
            
            {% component 'portraitBox' 
               person="8" 
               picposition="left"
               boxposition="begin"
               boxsize="halfwidth"
               boxtitle="Irgendwas"
               bg="white" %}

            {% component 'portraitBox' 
               person="13" 
               picposition="right"
               boxposition="end"
               boxsize="halfwidth"
               boxtitle="Dr. med. Musterfrau"
               bg="white" %}
        </section>
    </div>

    <div id="praxis" style="width: 100%">
        <section class="indent-me">
            {% content 'praxis.htm' %}
            {% component 'gallerydisplay' %}
        </section>
    </div>

    <div id="faq">
        <section class="indent-me">
            {% content 'faq.htm' %}
            {% component 'faq' %}
        </section>
    </div>

    <div id="termin" class="indent-me">
        {% content 'termin.htm' %}
        {% partial 'snippets/medicosearch.htm' %}
    </div>

    <div id="anreise" class="indent-me">
        {% content 'anreise.htm' %}
    </div>

    {% partial 'html_body/map' %}

 </main>