description = "Frontpage"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "main"

[cookiesBar]

[localePicker]
forceUrl = 1

[seoTags]

[orgaMeta]

[alternateHrefLangElements]

[viewBag]
==
<?php
function onStart()
{
    
}
?>
==

{# begin head and all meta tags #}
  {% component 'seoTags' %}
{# end head #}
<body class="page-{{ this.page.id }} layout-{{ this.page.layout }}">

      <div>

        <header>
            {% partial 'html_body/header' %}
        </header>

        <main>
          <div>
            {% page %}
          </div>
        </main>

        <footer>
          <section>
              {% partial 'html_body/endlinks' %}
              {% partial 'html_body/byline' %}
          </section>
        </footer>

      </div>

      {% partial 'html_body/contactbox' %}

      {% component 'cookiesBar' %}

      
      {% placeholder json ignore=true %}

      {% partial 'html_body/scripts' %}

    </body>
</html>
