description = "Frontpage"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "main"

[localePicker]
forceUrl = 1

[seoTags]

[orgaMeta]

[alternateHrefLangElements]
[gallerydisplay]
[faq]
[teamList]


[viewBag]
==
<?php
?>
==

{# begin head and all meta tags #}
  {% component 'seoTags' %}
{# end head #}
<body class="page-{{ this.page.id }} layout-{{ this.page.layout }}">
  <article>
   {% partial 'html_body/header' %}
   {% partial 'html_body/main' %}
   {% partial 'html_body/footer' %}
  </article>  


<!--
      {% partial 'html_body/contactbox' %}
-->
  

   
      {% placeholder json ignore=true %}

      {% partial 'html_body/scripts' %}

    </body>
</html>
