description = "Frontpage"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "main"

[cookiesBar]

[localePicker]
forceUrl = 1

[seoTags]

[orgaMeta]

[alternateHrefLangElements]

[viewBag]
==
<?php
?>
==

{# begin head and all meta tags #}
  {% component 'seoTags' %}
{# end head #}
<body class="page-{{ this.page.id }} layout-{{ this.page.layout }}">

        <header>
            {% partial 'html_body/header' %}
        </header>

        <main>
          
            {% page %}
        
        </main>

        <footer>
              {% partial 'html_body/endlinks' %}
              {% partial 'html_body/byline' %}
        </footer>



      {% partial 'html_body/contactbox' %}

      {% component 'cookiesBar' %}

      
      {% placeholder json ignore=true %}

      {% partial 'html_body/scripts' %}

    </body>
</html>
