.contactbox {
  background: hsl(var(--prim) / 0.5);
  border-left: 1px solid hsl(var(--dark) / 1);
  color: hsl(var(--dark));
  height: 100%;
  padding: var(--padd-lg) 0 var(--padd-lg) 0;
  width: auto;

  div {
    padding: 0 var(--padd-md) 0 0;
    position: relative;
    left: 5px;
    top: 2px;
    text-align: right;

    a {
      color: hsl(var(--light) / 1);
      border: none;
      display: inline-block;
      margin-right: 12px;

      &:hover {
        color: hsl(var(--prim));
      }

      svg {
        //display: inline-block;
        height: 25px;
        width: 25px;
        filter: drop-shadow(2px 2px 2px hsl(var(--dark)));
      }

      .fa-clock {
        top: 4px;
      }
      .fa-envelope {
        top: 5px;
      }
      .fa-phone-alt {
        top: 2px;
      }
    }
  }
}
