footer { 
  background: rgb(var(--beige));
  display: grid;
   grid-template-rows: 500px;

  section {
    border: 2px solid orange;
    display: grid;
     grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: var(--content-width);
    //padding: var(--content-padding);
    width: 100%;


   div {
    border: 1px solid red;
    }
  }
}

@media only screen and (min-width: 576px) {
  footer section {
    grid-template-columns: repeat(2, 1fr);

    div:nth-child(3) {
      grid-column: 1 / 4;
      padding: 0 3rem 0 3rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  footer section {
    grid-template-columns: repeat(3, 1fr);

    div:nth-child(3) {
      grid-column: 3 / 4;
      padding: 0;
    }
  }
}
 
   
/*
  a {
    text-decoration: none;
  }

  a:hover, a:active, a:focus {
    text-decoration: underline !important;
  }

  .fas, .far { width: 1.5rem; }


  .contact {
    background-color: var(--secondary);
    color: var(--white);

    a, a:hover, a:visited, a:focus, a:active {
      color: var(--white);
      text-decoration:underline;
    }

    h3 { padding:0; }

    img {
      border: 1px solid var(--white);
      filter: grayscale(10);
      }

    img:hover {
      filter: grayscale(0);
    }


  }
  */



