footer {
  background: var(--beige);
  display: grid;
   place-items: center;

  section {
    border: 1px solid red;
   display: flex;
    align-items: stretch;
    justify-content: space-between;
    
   max-width: var(--content-width);
   padding: var(--content-padding);
   width: 100%;


   div {
    border: 1px solid red;
    flex-shrink: 1;
    max-width: calc(var(--content-width)/3);
    width: 100%;
 
   

  a {
    text-decoration: none;
  }

  a:hover, a:active, a:focus {
    text-decoration: underline !important;
  }

  .fas, .far { width: 1.5rem; }


  .contact {
    background-color: $if-secondary-dark;
    color: $if-white;

    a, a:hover, a:visited, a:focus, a:active {
      color: $if-white;
      text-decoration:underline;
    }

    h3 { padding:0; }

    img {
      border: 1px solid $if-white;
      filter: grayscale(10);
      }

    img:hover {
      filter: grayscale(0);
    }


  }



}
}
}
