.intro {
  h1 span {
    animation: blendIn 4s ease-in-out 1s forwards;
    font-size: calc(1.8 * var(--scale) * 1rem);
    font-weight: var(--fw-xl);
    line-height: calc(1.8 * var(--leading));
    opacity: 0;
  }

  @keyframes blendIn {
    0% {
      opacity: 0;
    }
    75% {
      color: hsl(var(--dark));
      opacity: 1;
    }
    85% {
      color: hsl(var(--prim-lgt));
      opacity: 0.3;
    }

    100% {
      opacity: 1;
    }
  }
}
