.intro {
  width: 100%;

  .introvisual {
    overflow: hidden;
    height: var(--shift);
    width: 100%;

    img {
      animation: kenburns 8s ease;
      height: var(--shift);
      position: relative;
      width: 100%;
    }

    .overlay {
      text-align: center;
      width: 100%;
      z-index: 100;

      h1 {
        color: hsl(var(--light));
        display: inline;
        font-size: var(--font-size);
        line-height: calc(var(--font-size) * var(--leading));
      }
    }
  }

  .introtext {
    width: 100% {
      margin-top: 0;
    }
  }

  /* Animation Keyframes */

  @keyframes kenburns {
    0% {
      //transform-origin: center; Lighthouse doesnt love me ;(
      transform: scale(1.2);
    }
    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }
}

/* media queries */

@media only screen and (min-width: 20px) and (max-width: 280px) {
  .intro .introvisual {
    --shift: 140vw;
    --font-size: calc(var(--shift) / 10);

    .overlay {
      transform: translateY(calc(var(--shift) * -1.1));
    }
  }
}

@media only screen and (min-width: 281px) and (max-width: 320px) {
  .intro .introvisual {
    --shift: 160vw;
    --font-size: calc(var(--shift) / 11);

    .overlay {
      transform: translateY(calc(var(--shift) * -1.1));
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 360px) {
  .intro .introvisual {
    --shift: 150vw;
    --font-size: calc(var(--shift) / 12);

    .overlay {
      transform: translateY(calc(var(--shift) * -1.1));
    }
  }
}

@media only screen and (min-width: 361px) and (max-width: 567px) {
  .intro .introvisual {
    --shift: 120vw;
    --font-size: calc(var(--shift) / 15);

    .overlay {
      transform: translateY(calc(var(--shift) * -0.9));
    }
  }
}

@media only screen and (min-width: 568px) and (max-width: 768px) {
  .intro .introvisual {
    --shift: 100vw;
    --font-size: calc(var(--shift) / 14);

    .overlay {
      transform: translateY(calc(var(--shift) * -0.9));
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .intro .introvisual {
    --shift: 70vw;
    --font-size: calc(var(--shift) / 13);

    .overlay {
      transform: translateY(calc(var(--shift) * -0.9));
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1399px) {
  .intro .introvisual {
    --shift: 40vw;
    --font-size: calc(var(--shift) / 9);

    .overlay {
      transform: translateY(calc(var(--shift) * -0.7));
    }
  }
}

@media only screen and (min-width: 1400px) {
  .intro .introvisual {
    --shift: 40vw;
    --font-size: calc(var(--shift) / 9);
    //max-height: 600px;

    .overlay {
      transform: translateY(calc(var(--shift) * -0.7));
    }
  }
}
