#languageselect, #languageselect-footer {
  width: auto;
  border: none!important;
  box-shadow: none!important;
  background-color: rgb(var(--secondary), 0.5);
  border-radius: 4px 0 0 4px;
  color: var(--black);
  font-size: 12px;
  font-variant: small-caps;
}

#languageselect {
  position: absolute!important;
  top: 0px;
  right:0px;
}

#languageselect-footer {
  border-radius: 4px;
  position: relative!important;
  top: -13px;
  display: inline-block;

}
