#team {
  background: #dedede;
  width: 100%;

  .indent-me {
    .portraitbox {
      display: grid;
       grid-template-columns: 1fr;
       justify-items: center;

       box {
        width: 100%;

        h3 {
          text-decoration: none;
        }

        img {}
        box-body {}
       }

  }
}
}

@media only screen and (min-width: 576px) {
  #team .indent-me .portraitbox {
    grid-template-columns: repeat(2, 1fr);
    gap: .75rem;
       
    box {}
  }
}

@media only screen and (min-width: 768px) {
  #team .indent-me .portraitbox {
    grid-template-columns: repeat(3, 1fr);
    gap: .75rem;
    

    box {}
  }
}



/*
  // see custom.css for img hover
  a.imglink:hover {}

  p a {
        color: rgb(var(--black),1);
      }

  p a:hover {
    color: rgb(var(--primary),1);
  }

  .portraitlink {
    background-color: rgb(var(--primary),1);
    color: rgb(var(--white),1);
    margin: 10px 0 0 0;
    position:relative;
    padding: 4px 8px 4px 8px;

    a {
      color: rgb(var(--white),1);
      text-decoration: none;
    }

    a:hover, :focus, :active {
        color: rgb(var(--white),1);
      }
   }

   .right {
     left: -4rem;
     border-radius:    1em 1em;
     border-radius: 1em 1em;
     width: 800px;

     i {
       margin-left:10px;
     }

   }

   .left {
     left: -1.5rem;
     border-radius: 0 1rem 1em 0;
     border-bottom-right-radius: 1em 1em;
     width:450px;

     i {
       margin-left:10px;
     }
   }

   .left:hover, .right:hover { background-color: rgb(var(--primary),1); }

   .picpositionright .card-body {
     padding-left:0!important;
   }

   /* thirdwith views 

   .thirdwidth {
     margin: 0;

     .btn-primary {
       margin-bottom: .5rem;
     }
   }

   /* thirdwith views */


