:root {
  // Colors
  --petrol: 47, 141, 133; // #2f8d85
  --grey: 235, 232, 229; //#ebe8e5
  --beige: 250, 243, 236; //#faf3ec
  --blue: 209, 243, 247; // #d1f3f7
  --orange: 248, 143, 6; // f88f06 #f8a206
  --denim: 54, 65, 88; // #364158
  --black: 0, 0, 0;
  --white: 255, 255, 255;

  --primary: var(--orange);
  --secondary: var(--blue);
  --success: 0, 255, 0; // #00FF00
  --info: var(--denim);

  //Buttons
  --btn-bg: rgb(var(--orange), 1);
  --btn-color: rgb(var(--white), 1);
  --btn-padding: 0.5rem 1rem 0.5rem 1rem;
  --btn-radius: 10px;

  //Font
  --fs-xs: 10px;
  --fs-md: 18px;
  --fs-lg: 36px;
  --fs-xl: 64px;
  --fw-xs: 200;
  --fw-sm: 300;
  --fw-md: 400;
  --fw-lg: 600;
  --fw-xl: 800;

  //Components
  --rad-xs: 4px;
  --rad-md: 8px;
  --rad-lg: 16px;
  --rad-xl: 32px;
  --shad-md: 0px 10px 15px -3px rgb(var(--beige), 0.1),
    0px 10px 15px -3px rgb(var(--beige), 0.1);

  //Body
  --body-bg-gradient: linear-gradient(
    to bottom,
    rgb(var(--petrol), 1) 0%,
    rgb(var(--petrol), 1) 15%,
    rgb(var(--blue), 1) 50%,
    rgb(var(--petrol), 1) 100%
  );
  --body-bg: rgb(var(--petrol), 1);
  --body-color: rgb(var(--beige));
  --body-fs: var(--fs-md);

  // Layout
  --padd-xs: 0.25rem;
  --padd-md: 0.5rem;
  --padd-lg: 1rem;
  --padd-xl: 4rem;
  --content-width: 1100px;
  --content-padding: var(--padd-lg);

  //Breakpoints
  // custom properties don't work in media queries ;(
  --break-xs: 280px;
  --break-sm: 320px;
  --break-sm: 360px;
  --break-md: 567px;
  --break-lg: 768px;
  --break-xl: 1024px;
  --break-xxl: 1400px;

  // helper classes for use in html
  .primary {
    color: rgb(var(--primary));
  }

  .placeitemscenter {
    display: grid;
    place-items: center;
  }
}

